<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Michalis Movies</title>
</head>
<body class="container">

    <h1 class="text-center">My Favourite Movies</h1>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Number</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for k, v in list.items() %}
            <tr>
                <td>
                    {{ k }}
                </td>
                <td>
                    <a href="{{ url_for('get_movie', movie_id=k) }}" target=”_blank”>{{ v }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>