<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Michalis Movies</title>
</head>
<body class="container">

    <h1 class="text-center">You've Got Mail</h1>
    <p>
        Book superstore magnate, Joe Fox and independent book shop owner, Kathleen Kelly fall in love in
        the anonymity of the Internet both blissfully unaware that he\'s trying to put her out of business.
    </p>
</body>
</html>